.wrapper {
    width: 100%;
    max-width: 1200px;
    border: 1px solid var(--line-color);
    display: grid;
    grid-template-columns: 250px 1fr 200px 80px;
    grid-template-rows: 80px 150px minmax(250px, auto) auto 150px;
    background-color: var(--bg-color);
    opacity: 0;
    animation: showWrapper 0.1s linear 0.2s forwards;
    position: relative;
    z-index: 10;
    transition: background-color 0.3s, border-color 0.3s;
}
.cell {
    border: 1px solid var(--line-color);
    margin-top: -1px; margin-left: -1px;
    padding: 20px; position: relative; overflow: hidden;
    transition: background-color 0.3s, border-color 0.3s;
}
